{{- define "main" }}
{{ $score := (index .Site.Data.scores (string .Params.id) ) }}
<section class="section is-medium">
    <div class="container content">
        <div class="columns">
            <div class="column is-centered-tablet-portrait is-half">
                <h1 class="title section-title">{{ .Title }}</h1>
                <h5 class="subtitle is-5 is-muted">{{ .Params.category }}</h5>
                <div class="divider mb-60"></div>
                <table>
                    <tr>
                        <td>Titel</td>
                        <td>{{ $score.title }}</td>
                    </tr>
                    <tr>
                        <td>Schwierigkeit</td>
                        <td>{{ $score.difficulty }}</td>
                    </tr>
                    <tr>
                        <td>Preis</td>
                        <td>€ {{ $score.price }},-</td>
                    </tr>
                </table>
                <div style="margin: 4rem 0" class="label">
                    Hörbeispiel
                    <audio controls controlsList="nodownload" style="height: 60px; width: 100%"
                           title="{{$score.title}}">
                        <source type="audio/mp3"
                                src="https://{{ .Site.Params.core }}/media/score/{{ .Params.id }}/audio">
                    </audio>
                </div>
                <div class="card">
                    <div class="card-content">
                        <form method="post" action="https://{{.Site.Params.core }}/api/order">
                            <input type="hidden" name="scoreId" value="{{.Params.id}}" class="input">
                            <div class="field">
                                <div class="field">
                                    <label class="label">Name</label>
                                </div>
                                <div class="field-body">

                                    <div class="field">
                                        <p class="control">
                                            <input type="text" name="salutation" id="salutation" placeholder="Anrede"
                                                   class="input">
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field"></div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="firstName" placeholder="Vorname" class="input"
                                                   required>
                                        </p>
                                    </div>

                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="lastName" placeholder="Nachname" class="input"
                                                   required>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field">
                                    <label class="label">Firma/Verein</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="company" maxlength="35"
                                                   placeholder="z.B. Musikverein Leopoldsdorf" class="input">
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field">
                                    <label class="label">Kontakt</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="email" name="email" placeholder="Email" class="input" required>
                                        </p>
                                    </div>

                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="telephone" placeholder="Telefonnummer"
                                                   class="input" required>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field">
                                    <label class="label" id="addressLabel">Rechnungs- und Lieferadresse</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="street" placeholder="Straße" class="input"
                                                   maxlength="30" required>
                                        </p>
                                    </div>

                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="streetNumber" placeholder="Hausnummer"
                                                   class="input" required>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field"></div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="postCode" placeholder="Postleitzahl" class="input"
                                                   required>
                                        </p>
                                    </div>

                                    <div class="field is-expanded">
                                        <p class="control">
                                            <input type="text" name="city" placeholder="Ort" class="input"
                                                   maxlength="30" required>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field"></div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <select id="state" name="state" required autocomplete="off">
                                                <option value="" disabled selected>Bitte ein Land auswählen</option>
                                                <option value="Österreich">Österreich</option>
                                                <option value="Deutschland">Deutschland</option>
                                                <option value="Schweiz">Schweiz</option>
                                                <optgroup label="B">
                                                    <option value="Belgien">Belgien</option>
                                                    <option value="Bulgarien">Bulgarien</option>
                                                </optgroup>
                                                <optgroup label="D">
                                                    <option value="Dänemark">Dänemark</option>
                                                </optgroup>
                                                <optgroup label="E">
                                                    <option value="Estland">Estland</option>
                                                </optgroup>
                                                <optgroup label="F">
                                                    <option value="Finnland">Finnland</option>
                                                    <option value="Frankreich">Frankreich</option>
                                                </optgroup>
                                                <optgroup label="G">
                                                    <option value="Griechenland">Griechenland</option>
                                                    <option value="Großbritannien">Großbritannien</option>
                                                </optgroup>
                                                <optgroup label="I">
                                                    <option value="Irland">Irland</option>
                                                    <option value="Italien">Italien</option>
                                                </optgroup>
                                                <optgroup label="K">
                                                    <option value="Kroatien">Kroatien</option>
                                                </optgroup>
                                                <optgroup label="L">
                                                    <option value="Lettland">Lettland</option>
                                                    <option value="Liechtenstein">Liechtenstein</option>
                                                    <option value="Litauen">Litauen</option>
                                                    <option value="Luxemburg">Luxemburg</option>
                                                </optgroup>
                                                <optgroup label="M">
                                                    <option value="Malta">Malta</option>
                                                </optgroup>
                                                <optgroup label="N">
                                                    <option value="Niederlande">Niederlande</option>
                                                    <option value="Norwegen">Norwegen</option>
                                                </optgroup>
                                                <optgroup label="P">
                                                    <option value="Polen">Polen</option>
                                                    <option value="Portugal">Portugal</option>
                                                </optgroup>
                                                <optgroup label="R">
                                                    <option value="Rumänien">Rumänien</option>
                                                </optgroup>
                                                <optgroup label="S">
                                                    <option value="Schweden">Schweden</option>
                                                    <option value="Slowakei">Slowakei</option>
                                                    <option value="Slowenien">Slowenien</option>
                                                    <option value="Spanien">Spanien</option>
                                                </optgroup>
                                                <optgroup label="T">
                                                    <option value="Tschechien">Tschechien</option>
                                                </optgroup>
                                                <optgroup label="U">
                                                    <option value="Ungarn">Ungarn</option>
                                                </optgroup>
                                                <optgroup label="Z">
                                                    <option value="Zypern">Zypern</option>
                                                </optgroup>
                                            </select>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field"></div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <label class="checkbox">
                                                <input type="checkbox" class="" autocomplete="off"
                                                       oninput="toggleVisibility('sndAddress')"> Abweichende
                                                Lieferadresse
                                            </label>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div id="sndAddress" style="display: none">
                                <div class="field">
                                    <div class="label">
                                        <label class="label">Lieferadresse</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control">
                                                <input type="text" name="dStreet" id="dStreet" placeholder="Straße"
                                                       class="input" maxlength="30"
                                                       autocomplete="off">
                                            </p>
                                        </div>

                                        <div class="field is-expanded">
                                            <p class="control">
                                                <input type="text" name="dStreetNumber" id="dStreetNumber"
                                                       placeholder="Hausnummer"
                                                       class="input" autocomplete="off">
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="field"></div>
                                    <div class="field-body">
                                        <div class="field is-expanded">
                                            <p class="control">
                                                <input type="text" name="dPostCode" id="dPostCode"
                                                       placeholder="Postleitzahl"
                                                       class="input" autocomplete="off">
                                            </p>
                                        </div>

                                        <div class="field is-expanded">
                                            <p class="control">
                                                <input type="text" name="dCity" id="dCity" placeholder="Ort"
                                                       class="input" maxlength="30"
                                                       autocomplete="off">
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="field"></div>
                                    <div class="field-body">
                                        <div class="field is-expanded">
                                            <p class="control">
                                                <select id="dState" name="dState" autocomplete="off">
                                                    <option value="" disabled selected>Bitte ein Land auswählen</option>
                                                    <option value="Österreich">Österreich</option>
                                                    <option value="Deutschland">Deutschland</option>
                                                    <option value="Schweiz">Schweiz</option>
                                                    <optgroup label="B">
                                                        <option value="Belgien">Belgien</option>
                                                        <option value="Bulgarien">Bulgarien</option>
                                                    </optgroup>
                                                    <optgroup label="D">
                                                        <option value="Dänemark">Dänemark</option>
                                                    </optgroup>
                                                    <optgroup label="E">
                                                        <option value="Estland">Estland</option>
                                                    </optgroup>
                                                    <optgroup label="F">
                                                        <option value="Finnland">Finnland</option>
                                                        <option value="Frankreich">Frankreich</option>
                                                    </optgroup>
                                                    <optgroup label="G">
                                                        <option value="Griechenland">Griechenland</option>
                                                        <option value="Großbritannien">Großbritannien</option>
                                                    </optgroup>
                                                    <optgroup label="I">
                                                        <option value="Irland">Irland</option>
                                                        <option value="Italien">Italien</option>
                                                    </optgroup>
                                                    <optgroup label="K">
                                                        <option value="Kroatien">Kroatien</option>
                                                    </optgroup>
                                                    <optgroup label="L">
                                                        <option value="Lettland">Lettland</option>
                                                        <option value="Liechtenstein">Liechtenstein</option>
                                                        <option value="Litauen">Litauen</option>
                                                        <option value="Luxemburg">Luxemburg</option>
                                                    </optgroup>
                                                    <optgroup label="M">
                                                        <option value="Malta">Malta</option>
                                                    </optgroup>
                                                    <optgroup label="N">
                                                        <option value="Niederlande">Niederlande</option>
                                                        <option value="Norwegen">Norwegen</option>
                                                    </optgroup>
                                                    <optgroup label="P">
                                                        <option value="Polen">Polen</option>
                                                        <option value="Portugal">Portugal</option>
                                                    </optgroup>
                                                    <optgroup label="R">
                                                        <option value="Rumänien">Rumänien</option>
                                                    </optgroup>
                                                    <optgroup label="S">
                                                        <option value="Schweden">Schweden</option>
                                                        <option value="Slowakei">Slowakei</option>
                                                        <option value="Slowenien">Slowenien</option>
                                                        <option value="Spanien">Spanien</option>
                                                    </optgroup>
                                                    <optgroup label="T">
                                                        <option value="Tschechien">Tschechien</option>
                                                    </optgroup>
                                                    <optgroup label="U">
                                                        <option value="Ungarn">Ungarn</option>
                                                    </optgroup>
                                                    <optgroup label="Z">
                                                        <option value="Zypern">Zypern</option>
                                                    </optgroup>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="field"></div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <p class="control">
                                            <label class="checkbox">
                                                <input type="checkbox" oninput="toggleAgb()" name="" class=""
                                                       autocomplete="off" required>
                                                Ich habe
                                                die AGB gelesen und
                                                bin einverstanden
                                            </label>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button id="buyBtn" type="submit" class="button is-link">Kostenpflichtig Bestellen
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-centered-tablet-portrait is-half is-centered">
                <div class="has-text-centered mb-20">
                    <span class="is-centered is-vcentered">
                        <a class="button secondary-btn rounded" id="pageLeft">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </a>
                        <span style="margin: 0 1rem">Seite <span id="currentPage"></span> von <span
                                id="numPages"></span></span>
                        <a class="button secondary-btn rounded" id="pageRight">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </span>
                </div>
                <div class="has-text-centered">
                    <canvas width="500" height="600" id="scoreView"
                            class="feature-card is-bordered has-text-centered revealOnScroll delay-1 animated fadeInLeft is-centered"
                            style="height:unset;width: unset"></canvas>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.228/pdf.min.js"></script>
                <script>
                    var buyBtn = document.getElementById('buyBtn');
                    buyBtn.setAttribute('disabled', '');

                    function toggleAgb() {
                        if (buyBtn.hasAttribute('disabled')) {
                            buyBtn.removeAttribute('disabled')
                        } else {
                            buyBtn.setAttribute('disabled', '')
                        }
                    }

                    function toggleVisibility(el) {
                        let elem = document.getElementById(el);
                        let lbl = document.getElementById('addressLabel');
                        let dstreet = document.getElementById("dStreet");
                        let dstreetnum = document.getElementById("dStreetNumber");
                        let dpost = document.getElementById("dPostCode");
                        let dcity = document.getElementById("dCity");
                        let dstate = document.getElementById("dState");
                        if (getComputedStyle(elem).display === 'none') {
                            elem.style.display = 'unset';
                            lbl.innerText = 'Rechnungsadresse';
                            dstreet.required = true;
                            dstreetnum.required = true;
                            dpost.required = true;
                            dcity.required = true;
                            dstate.required = true;
                            dstate.value = document.getElementById("state").value
                        } else {
                            elem.style.display = 'none';
                            lbl.innerText = 'Rechnungs- und Lieferadresse';
                            dstreet.required = false;
                            dstreet.value = "";
                            dstreetnum.required = false;
                            dstreetnum.value = "";
                            dpost.required = false;
                            dpost.value = "";
                            dcity.required = false;
                            dcity.value = "";
                            dstate.required = false;
                            dstate.value = "";
                        }

                    }
                </script>
                <script>
                    var currentPage = 1;
                    var pdfI;
                    document.getElementById('pageLeft').onclick = function () {
                        if (currentPage > 1) {
                            currentPage--;
                            pageRender();
                        }
                    };
                    document.getElementById('pageRight').onclick = function () {
                        if (currentPage < pdfI.numPages) {
                            currentPage++;
                            pageRender();
                        }
                    };

                    function pageRender() {
                        pdfI.getPage(currentPage).then(function (page) {
                            var canvas = document.getElementById('scoreView');
                            var viewport = page.getViewport(canvas.width / page.getViewport(1.0).width);
                            var context = canvas.getContext('2d');
                            canvas.height = viewport.height;
                            var renderContext = {
                                canvasContext: context,
                                viewport: viewport
                            };
                            page.render(renderContext);
                            document.getElementById('currentPage').innerText = currentPage;
                            document.getElementById('numPages').innerText = pdfI.numPages;
                        });
                    }

                    var loadingTask = pdfjsLib.getDocument('https://{{ .Site.Params.core }}/media/score/{{.Params.id}}/pdf');
                    loadingTask.promise.then(function (pdf) {
                        pdfI = pdf;
                        pageRender();
                    });

                </script>

            </div>
        </div>
        {{ .Content }}
    </div>
</section>
{{- end }}
